<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Funding current:</b>
  <%= @story.funding_current %>
</p>

<p>
  <b>Funding goal:</b>
  <%= @story.funding_goal %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
